.ad-performance-dashboard {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-height: 50px;
  margin-top: 15px;
  font-size: 25px;
  font-weight: bold;
}

.select-ad-type {
  font-size: 15px;
  font-weight: normal;
}

@media only screen and (max-width: 700px) {
  .ad-performance-dashboard {
    flex-direction: column;
  }
}
