body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0 80px;
  background-color: #e7f0ec;
}

@media only screen and (max-width: 700px) {
  body {
    margin: 0 70px;
  }
}

@media only screen and (min-width: 701px) and (max-width: 800px) {
  body {
    margin: 0 60px;
  }
}
